<div class="giscus-comment">
  <script>
    let theme = localStorage.getItem('theme');
    const giscusTheme = theme === 'light' ? 'noborder_light' : 'noborder_dark';
    var currentUrl = window.location.href;
    const lang = currentUrl.indexOf('/en/') !== -1 ? 'en' : 'pt';
    let giscusAttributes = {
      id: 'giscus-script',
      src: 'https://giscus.app/client.js',
      'data-repo': '{{ .Site.Params.giscus.repo }}',
      'data-repo-id': '{{ .Site.Params.giscus.repoId }}',
      'data-category': '{{ .Site.Params.giscus.category }}',
      'data-category-id': '{{ .Site.Params.giscus.categoryId }}',
      'data-mapping': '{{ .Site.Params.giscus.mapping | default `pathname` }}',
      'data-strict': '{{ (string .Site.Params.giscus.strict) | default 0 }}',
      'data-reactions-enabled':
        '{{ (string .Site.Params.giscus.reactionsEnabled) |  default 1 }}',
      'data-emit-metadata':
        '{{ (string .Site.Params.giscus.emitMetadata) | default 0 }}',
      'data-input-position':
        '{{ .Site.Params.giscus.inputPosition | default `top` }}',
      'data-theme': theme,
      'data-lang': lang,
      'data-loading': '{{ if .Site.Params.giscus.lazyLoading }}lazy{{ end }}',
      crossorigin: 'anonymous',
      async: '',
    };

    let giscusScript = document.createElement('script');
    const article = document.querySelector('article');
    Object.entries(giscusAttributes).forEach(([key, value]) =>
      giscusScript.setAttribute(key, value)
    );
    article.appendChild(giscusScript);
  </script>
</div>
