<button
  class="toggle-theme"
  aria-label="Toggle Theme"
  title="Toggle Theme"
  onclick="toggleTheme()"
>
  <span class="theme-icon light hidden dark:block">
    {{ partial "utils/icon" "sun" }}
  </span>
  <span class="theme-icon dark block dark:hidden">
    {{ partial "utils/icon" "moon" }}
  </span>
</button>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const theme = localStorage.getItem('theme');
    setTheme(theme);
  });

  function setTheme(theme) {
    const html = document.querySelector('html');
    localStorage.setItem('theme', theme);

    if (theme === 'light') {
      html.classList.remove('dark');
      document.querySelector('.theme-icon.light').style.display = 'none';
      document.querySelector('.theme-icon.dark').style.display = 'block';
    } else {
      html.classList.add('dark');
      document.querySelector('.theme-icon.dark').style.display = 'none';
      document.querySelector('.theme-icon.light').style.display = 'block';
    }
  }

  function toggleTheme() {
    const theme = localStorage.getItem('theme');
    const newTheme = theme === 'light' ? 'dark' : 'light';
    localStorage.setItem('theme', newTheme);
    setTheme(newTheme);
    reloadGiscus(newTheme);
  }

  function reloadGiscus(theme) {
    const existingGiscusScript = document.getElementById('giscus-script');
    if (existingGiscusScript) existingGiscusScript.remove();

    let giscusScript = document.createElement('script');
    const giscusTheme = theme === 'light' ? 'noborder_light' : 'noborder_dark';

    let giscusAttributes = {
      id: 'giscus-script',
      src: 'https://giscus.app/client.js',
      'data-repo': '{{ .Site.Params.giscus.repo }}',
      'data-repo-id': '{{ .Site.Params.giscus.repoId }}',
      'data-category': '{{ .Site.Params.giscus.category }}',
      'data-category-id': '{{ .Site.Params.giscus.categoryId }}',
      'data-mapping': '{{ .Site.Params.giscus.mapping | default `pathname` }}',
      'data-strict': '{{ (string .Site.Params.giscus.strict) | default 0 }}',
      'data-reactions-enabled':
        '{{ (string .Site.Params.giscus.reactionsEnabled) |  default 1 }}',
      'data-emit-metadata':
        '{{ (string .Site.Params.giscus.emitMetadata) | default 0 }}',
      'data-input-position':
        '{{ .Site.Params.giscus.inputPosition | default `top` }}',
      'data-theme': giscusTheme,
      'data-lang': '{{ .Site.Params.giscus.lang | default `en` }}',
      'data-loading': '{{ if .Site.Params.giscus.lazyLoading }}lazy{{ end }}',
      crossorigin: 'anonymous',
      async: '',
    };

    Object.entries(giscusAttributes).forEach(([key, value]) =>
      giscusScript.setAttribute(key, value)
    );
    document.body.appendChild(giscusScript);
  }
</script>
