{{ $favicon := resources.GetMatch .Site.Params.favicon }} {{ $appleTouchIcon :=
resources.GetMatch .Site.Params.appleTouchIcon }} {{ $favicon16 :=
resources.GetMatch .Site.Params.favicon16x16 }} {{ $favicon32 :=
resources.GetMatch .Site.Params.favicon32x32 }} {{ $favicon16 :=
resources.GetMatch .Site.Params.favicon16x16 }} {{ $permalink := replace
.Permalink "/en/" "/" }} {{ $thumbnail := replace .Params.thumbnail "/en/" "/"
}}

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>

<!-- Meta tags -->
<meta name="description" content="{{ .Description }}" />
<meta
  name="keywords"
  content="Golang, Go, GCP, Sql, Gorm, NestJS, Javascript, Typescript, AWS, SQS, RabbitMq, Kafka, microservices, brazilian devs, software developer, back-end, NodeJS, Unit tests, integration testes"
/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ .Permalink }}" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Description }}" />
<meta name="twitter:image" content="{{ $permalink }}{{ .Params.thumbnail }}" />
<meta
  name="twitter:image:src"
  content="{{ $permalink }}{{ .Params.thumbnail }}"
/>
<meta name="twitter:domain" content="wiliamvj.com" />
<meta name="twitter:creator" content="@wiliamjoaquim" />
<meta name="twitter:image:alt" content="{{ .Title }}" />
<meta name="twitter:label1" content="{{ i18n "readingMetadata" }}"> <meta
name="twitter:data1" content="{{ printf (i18n "estimatedReadingTime")
.ReadingTime }}">
<meta name="twitter:app:name:iphone" content="wiliamvj" />

<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:site_name" content="{{ .Site.Params.description }}'" />
<meta property="og:description" content="{{ .Description }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ $permalink }}{{ .Params.thumbnail }}" />
<meta property="og:image:alt" content="{{ .Title }}" />
<!-- end meta tags -->

<meta
  name="apple-mobile-web-app-title"
  content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}"
/>
<meta
  name="description"
  content="{{ if .IsPage }}{{ or .Params.description .Summary }}{{ else if .IsHome }}{{ .Site.Params.description }}{{ else if .IsNode }}{{ or .Params.description .Summary }}{{ end }}"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ $appleTouchIcon.RelPermalink }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ $favicon32.RelPermalink }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ $favicon16.RelPermalink }}"
/>
<link rel="canonical" href="{{ .Permalink }}" />
<link rel="robots" href="/robots.txt" />
<link rel="icon" type="image/x-icon" href="{{ $favicon.RelPermalink }}" />

<!-- Google Analytics -->
<script
  defer
  src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', '{{ .Site.GoogleAnalytics }}');
</script>
<!-- End Google Analytics -->
